In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
from pathlib import Path
import seaborn as sns

In [2]:
import pyspark
import pyspark.sql
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import ArrayType, FloatType, StringType
from pyspark.sql.window import Window


conf = pyspark.SparkConf().setMaster("local[*]").setAll([
                                   ('spark.executor.memory', '12g'),  # find
                                   ('spark.driver.memory','4g'), # your
                                   ('spark.driver.maxResultSize', '2G') # setup
                                  ])
# create the session
spark = SparkSession.builder.config(conf=conf).getOrCreate()

# create the context
sc = spark.sparkContext

# FIX for Spark 2.x
locale = sc._jvm.java.util.Locale
locale.setDefault(locale.forLanguageTag("en-US"))

In [3]:
df_data_crops=pd.read_csv("./data/global-food-agriculture-statistics/fao_data_crops_data.csv")

In [4]:
df_data_crops.head()

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,Americas +,31,Area Harvested,2007.0,Ha,49404.0,A,agave_fibres_nes
1,Americas +,31,Area Harvested,2006.0,Ha,49404.0,A,agave_fibres_nes
2,Americas +,31,Area Harvested,2005.0,Ha,49404.0,A,agave_fibres_nes
3,Americas +,31,Area Harvested,2004.0,Ha,49113.0,A,agave_fibres_nes
4,Americas +,31,Area Harvested,2003.0,Ha,48559.0,A,agave_fibres_nes

In [5]:
df_data_crops["element"].unique()

array(['Area Harvested', 'Yield', 'Production Quantity', nan, 'Seed',
       'Gross Production 1999-2001 (1000 I$)',
       'Net Production 1999-2001 (1000 I$)', 'Gross PIN (base 1999-2001)',
       'Grs per capita PIN (base 1999-2001)', 'Net PIN (base 1999-2001)',
       'Net per capita PIN (base 1999-2001)'], dtype=object)

In [6]:
df_data_crops[df_data_crops["element"]=="Net Production 1999-2001 (1000 I$)"]

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
364587,Afghanistan,154,Net Production 1999-2001 (1000 I$),2007.0,1000 Int. $,861765.0,A,cereals_total
364588,Afghanistan,154,Net Production 1999-2001 (1000 I$),2006.0,1000 Int. $,679843.0,A,cereals_total
364589,Afghanistan,154,Net Production 1999-2001 (1000 I$),2005.0,1000 Int. $,803456.0,A,cereals_total
364590,Afghanistan,154,Net Production 1999-2001 (1000 I$),2004.0,1000 Int. $,511338.0,A,cereals_total
364591,Afghanistan,154,Net Production 1999-2001 (1000 I$),2003.0,1000 Int. $,652969.0,A,cereals_total
...,...,...,...,...,...,...,...,...
457133,Zimbabwe,154,Net Production 1999-2001 (1000 I$),1965.0,1000 Int. $,142140.0,A,cereals_total
457134,Zimbabwe,154,Net Production 1999-2001 (1000 I$),1964.0,1000 Int. $,129972.0,A,cereals_total
457135,Zimbabwe,154,Net Production 1999-2001 (1000 I$),1963.0,1000 Int. $,130045.0,A,cereals_total
457136,Zimbabwe,154,Net Production 1999-2001 (1000 I$),1962.0,1000 Int. $,153172.0,A,cereals_total
457137,Zimbabwe,154,Net Production 1999-2001 (1000 I$),1961.0,1000 Int. $,153489.0,A,cereals_total

In [7]:
df=pd.read_csv("data/global-food-agriculture-statistics/current_FAO/raw_files/Emissions_Agriculture_Agriculture_total_E_All_Data_(Norm).csv",encoding = "ISO-8859-1")

In [8]:
df

,Country Code,Country,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,5058,Enteric Fermentation,7231,Emissions (CO2eq),1961,1961,Gigagrams,5054.3459,A
1,2,Afghanistan,5058,Enteric Fermentation,7231,Emissions (CO2eq),1962,1962,Gigagrams,5151.5228,A
2,2,Afghanistan,5058,Enteric Fermentation,7231,Emissions (CO2eq),1963,1963,Gigagrams,5372.3989,A
3,2,Afghanistan,5058,Enteric Fermentation,7231,Emissions (CO2eq),1964,1964,Gigagrams,5440.3650,A
4,2,Afghanistan,5058,Enteric Fermentation,7231,Emissions (CO2eq),1965,1965,Gigagrams,5577.5580,A
...,...,...,...,...,...,...,...,...,...,...,...
326177,5873,OECD,1709,Agricultural Soils,7243,Emissions (CO2eq) from N2O,2012,2012,Gigagrams,507201.5669,A
326178,5873,OECD,1709,Agricultural Soils,7243,Emissions (CO2eq) from N2O,2013,2013,Gigagrams,515750.7919,A
326179,5873,OECD,1709,Agricultural Soils,7243,Emissions (CO2eq) from N2O,2014,2014,Gigagrams,526015.4357,A
326180,5873,OECD,1709,Agricultural Soils,7243,Emissions (CO2eq) from N2O,2030,2030,Gigagrams,525722.7988,A
326181,5873,OECD,1709,Agricultural Soils,7243,Emissions (CO2eq) from N2O,2050,2050,Gigagrams,542459.3841,A

In [9]:
df["Flag"].unique()

array(['A', 'Fc', 'EA'], dtype=object)

In [10]:
len(df["Country"].unique())

280

In [11]:
df["Item"].unique()

array(['Enteric Fermentation', 'Manure Management', 'Rice Cultivation',
       'Synthetic Fertilizers', 'Manure applied to Soils',
       'Manure left on Pasture', 'Crop Residues',
       'Cultivation of Organic Soils', 'Burning - Crop residues',
       'Burning - Savanna', 'Agriculture total', 'Agricultural Soils'],
      dtype=object)

In [12]:
df["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belgium-Luxembourg', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'China, Hong Kong SAR',
       'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Czechoslovakia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Ethiopia PDR', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles (former)', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island',
       'Northern Mariana Islands', 'Norway',
       'Occupied Palestinian Territory', 'Oman',
       'Pacific Islands Trust Territory', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn Islands', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Serbia and Montenegro', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Sudan (former)', 'Suriname',
       'Svalbard and Jan Mayen Islands', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'USSR', 'Uzbekistan',
       'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna Islands', 'Western Sahara', 'Yemen',
       'Yugoslav SFR', 'Zambia', 'Zimbabwe', 'World', 'Africa',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-Eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia & New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia', 'European Union',
       'Least Developed Countries', 'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries', 'Annex I countries',
       'Non-Annex I countries', 'OECD'], dtype=object)

In [14]:
df[(df["Year"]==2012) & (df["Element"]=="Emissions (CO2eq)") & (df["Item"]=="Agriculture total")][["Country","Value"]]

                                        Country         Value
1194                                Afghanistan  1.544762e+04
2577                                    Albania  2.828351e+03
4000                                    Algeria  1.082380e+04
5087                             American Samoa  4.596000e+00
5473                                    Andorra  0.000000e+00
...                                         ...           ...
320261        Low Income Food Deficit Countries  1.483409e+06
321684  Net Food Importing Developing Countries  1.141550e+06
323107                        Annex I countries  1.279184e+06
324530                    Non-Annex I countries  3.892038e+06
325953                                     OECD  1.197795e+06

[272 rows x 2 columns]

In [50]:
df=pd.read_csv("data/global-food-agriculture-statistics/current_FAO/raw_files/Emissions_Agriculture_Enteric_Fermentation_E_All_Data_(Norm).csv",encoding = "ISO-8859-1")

In [51]:
df["Flag"]=pd.read_csv("data/global-food-agriculture-statistics/current_FAO/raw_files/Emissions_Agriculture_Enteric_Fermentation_E_All_Data_(Norm).csv",keep_default_na=False,encoding = "ISO-8859-1")["Flag"]

In [52]:
df

,Country Code,Country,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,1107,Asses,5111,Stocks,1961,1961,Head,1.300000e+06,
1,2,Afghanistan,1107,Asses,5111,Stocks,1962,1962,Head,8.518500e+05,
2,2,Afghanistan,1107,Asses,5111,Stocks,1963,1963,Head,1.001112e+06,
3,2,Afghanistan,1107,Asses,5111,Stocks,1964,1964,Head,1.150000e+06,F
4,2,Afghanistan,1107,Asses,5111,Stocks,1965,1965,Head,1.300000e+06,
...,...,...,...,...,...,...,...,...,...,...,...
688290,5873,OECD,1048,Swine,72314,Emissions (CO2eq) (Enteric),2012,2012,Gigagrams,7.942460e+03,A
688291,5873,OECD,1048,Swine,72314,Emissions (CO2eq) (Enteric),2013,2013,Gigagrams,7.871891e+03,A
688292,5873,OECD,1048,Swine,72314,Emissions (CO2eq) (Enteric),2014,2014,Gigagrams,8.035039e+03,A
688293,5873,OECD,1048,Swine,72314,Emissions (CO2eq) (Enteric),2030,2030,Gigagrams,8.383631e+03,A
688294,5873,OECD,1048,Swine,72314,Emissions (CO2eq) (Enteric),2050,2050,Gigagrams,8.373639e+03,A

In [53]:
df["Flag"].unique()

array(['', 'F', '*', 'Fc', 'A', 'Im'], dtype=object)

In [54]:
df["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belgium-Luxembourg', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Ethiopia PDR', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Mali', 'Malta', 'Martinique', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (Federated States of)',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles (former)', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island',
       'Norway', 'Occupied Palestinian Territory', 'Oman',
       'Pacific Islands Trust Territory', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'USSR', 'Uzbekistan',
       'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna Islands', 'Western Sahara', 'Yemen',
       'Yugoslav SFR', 'Zambia', 'Zimbabwe', 'World', 'Africa',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-Eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia & New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia', 'European Union',
       'Least Developed Countries', 'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries', 'Annex I countries',
       'Non-Annex I countries', 'OECD'], dtype=object)

In [55]:
len(df["Country"].unique())

263

In [56]:
df=df[df["Country Code"]<5000]

In [57]:
df["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belgium-Luxembourg', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Ethiopia PDR', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Mali', 'Malta', 'Martinique', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (Federated States of)',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles (former)', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island',
       'Norway', 'Occupied Palestinian Territory', 'Oman',
       'Pacific Islands Trust Territory', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'USSR', 'Uzbekistan',
       'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna Islands', 'Western Sahara', 'Yemen',
       'Yugoslav SFR', 'Zambia', 'Zimbabwe'], dtype=object)

In [58]:
df_flags=pd.read_csv("data/definitions_and_standards/flags.csv",keep_default_na=False,encoding = "ISO-8859-1")

In [59]:
df_flags

    Flag                                              Flags
0                                             Official data
1      *                                  Unofficial figure
2      A  Aggregate, may include official, semi-official...
3      B                                            Balance
4     Bk                                    Break in series
5     Ce            Calculated data based on estimated data
6     Cv                           Calculated through value
7      E  Expert sources from FAO (including other divis...
8     EA  Emissions computed using data from Fertilizer ...
9      F                                       FAO estimate
10    Fa
11    Fb                         Data obtained as a balance
12    Fc                                    Calculated data
13    Ff                                      FAO estimates
14    Fm                                  Manual Estimation
15    Fp                                      Previous year
16    Ft                                         Trend data
17     I  Country data reported by International Organiz...
18    Im           FAO data based on imputation methodology
19     M                                 Data not available
20    NA                                     Not applicable
21    NR                                       Not reported
22    Nv                                 Data not available
23     P                          Provisional official data
24     Q  Official data reported on FAO Questionnaires f...
25    Qm  Official data from questionnaires and/or natio...
26     R     Estimated data using trading partners database
27     S                                  Standardized data
28    SD                            Statistical Discrepancy
29   UNC                                        UNFCCC data
30     W  Data reported on country official publications...
31     X                     International reliable sources
32   XAM                                 Data from UNSD AMA
33    XF                               Data provided by WFP
34   XFP                   Provisional data provided by WFP
35   XIM            IMF Government Finance Statistics (GFS)
36  XIMF                                      Data from IMF
37    XO                                     Data from OECD
38  XOEa  Annual average of UN Operational Rates of Exch...
39   XUI                      Data from UNCTAD and INTRACEN
40     Z  When the Fertilizer Utilization Account (FUA) ...

In [60]:
df["Flag"].unique()

array(['', 'F', '*', 'Fc', 'A', 'Im'], dtype=object)

In [61]:
merged = pd.merge(df,df_flags,on="Flag")
merged

,Country Code,Country,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Flags
0,2,Afghanistan,1107,Asses,5111,Stocks,1961,1961,Head,1.300000e+06,,Official data
1,2,Afghanistan,1107,Asses,5111,Stocks,1962,1962,Head,8.518500e+05,,Official data
2,2,Afghanistan,1107,Asses,5111,Stocks,1963,1963,Head,1.001112e+06,,Official data
3,2,Afghanistan,1107,Asses,5111,Stocks,1965,1965,Head,1.300000e+06,,Official data
4,2,Afghanistan,1107,Asses,5111,Stocks,1966,1966,Head,1.200000e+06,,Official data
...,...,...,...,...,...,...,...,...,...,...,...,...
559202,181,Zimbabwe,1048,Swine,72314,Emissions (CO2eq) (Enteric),2013,2013,Gigagrams,1.365000e+01,A,"Aggregate, may include official, semi-official..."
559203,181,Zimbabwe,1048,Swine,72314,Emissions (CO2eq) (Enteric),2014,2014,Gigagrams,1.365000e+01,A,"Aggregate, may include official, semi-official..."
559204,181,Zimbabwe,1048,Swine,72314,Emissions (CO2eq) (Enteric),2030,2030,Gigagrams,1.666940e+01,A,"Aggregate, may include official, semi-official..."
559205,181,Zimbabwe,1048,Swine,72314,Emissions (CO2eq) (Enteric),2050,2050,Gigagrams,2.057090e+01,A,"Aggregate, may include official, semi-official..."
559206,194,Saudi Arabia,1016,Goats,5111,Stocks,2013,2013,Head,3.430000e+06,Im,FAO data based on imputation methodology

In [73]:
merged.drop("Year Code",axis=1)

,Country Code,Country,Item Code,Item,Element Code,Element,Year,Unit,Value,Flag,Flags
0,2,Afghanistan,1107,Asses,5111,Stocks,1961,Head,1.300000e+06,,Official data
1,2,Afghanistan,1107,Asses,5111,Stocks,1962,Head,8.518500e+05,,Official data
2,2,Afghanistan,1107,Asses,5111,Stocks,1963,Head,1.001112e+06,,Official data
3,2,Afghanistan,1107,Asses,5111,Stocks,1965,Head,1.300000e+06,,Official data
4,2,Afghanistan,1107,Asses,5111,Stocks,1966,Head,1.200000e+06,,Official data
...,...,...,...,...,...,...,...,...,...,...,...
559202,181,Zimbabwe,1048,Swine,72314,Emissions (CO2eq) (Enteric),2013,Gigagrams,1.365000e+01,A,"Aggregate, may include official, semi-official..."
559203,181,Zimbabwe,1048,Swine,72314,Emissions (CO2eq) (Enteric),2014,Gigagrams,1.365000e+01,A,"Aggregate, may include official, semi-official..."
559204,181,Zimbabwe,1048,Swine,72314,Emissions (CO2eq) (Enteric),2030,Gigagrams,1.666940e+01,A,"Aggregate, may include official, semi-official..."
559205,181,Zimbabwe,1048,Swine,72314,Emissions (CO2eq) (Enteric),2050,Gigagrams,2.057090e+01,A,"Aggregate, may include official, semi-official..."
559206,194,Saudi Arabia,1016,Goats,5111,Stocks,2013,Head,3.430000e+06,Im,FAO data based on imputation methodology

In [74]:
df["Item"].unique()

array(['Asses', 'Camels', 'Cattle, dairy', 'Cattle, non-dairy', 'Goats',
       'Horses', 'Mules', 'Sheep', 'All Animals', 'Camels and Llamas',
       'Cattle', 'Mules and Asses', 'Sheep and Goats', 'Buffaloes',
       'Swine, breeding', 'Swine, market', 'Swine', 'Llamas'],
      dtype=object)

In [78]:
s = ['Cattle','Sheep']
merged[(merged["Item"]=="Cattle") | (merged["Item"]=="Sheep")]

,Country Code,Country,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Flags
137,2,Afghanistan,976,Sheep,5111,Stocks,1966,1966,Head,2.060000e+07,,Official data
138,2,Afghanistan,976,Sheep,5111,Stocks,1967,1967,Head,2.060000e+07,,Official data
139,2,Afghanistan,976,Sheep,5111,Stocks,1968,1968,Head,2.145501e+07,,Official data
140,2,Afghanistan,976,Sheep,5111,Stocks,1969,1969,Head,2.149000e+07,,Official data
141,2,Afghanistan,976,Sheep,5111,Stocks,1970,1970,Head,2.150000e+07,,Official data
...,...,...,...,...,...,...,...,...,...,...,...,...
558697,181,Zimbabwe,1757,Cattle,72314,Emissions (CO2eq) (Enteric),2012,2012,Gigagrams,3.611475e+03,A,"Aggregate, may include official, semi-official..."
558698,181,Zimbabwe,1757,Cattle,72314,Emissions (CO2eq) (Enteric),2013,2013,Gigagrams,3.644025e+03,A,"Aggregate, may include official, semi-official..."
558699,181,Zimbabwe,1757,Cattle,72314,Emissions (CO2eq) (Enteric),2014,2014,Gigagrams,3.644025e+03,A,"Aggregate, may include official, semi-official..."
558700,181,Zimbabwe,1757,Cattle,72314,Emissions (CO2eq) (Enteric),2030,2030,Gigagrams,5.734472e+03,A,"Aggregate, may include official, semi-official..."
558701,181,Zimbabwe,1757,Cattle,72314,Emissions (CO2eq) (Enteric),2050,2050,Gigagrams,7.678913e+03,A,"Aggregate, may include official, semi-official..."